[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud-drive.AppImage
Comment=pcloud-drive.AppImagestartup script
Exec=/opt/pcloud/pcloud-drive.AppImage
StartupNotify=false
Terminal=false